<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <script>
      document
        .documentElement
        .classList
        .remove('no-js');
      document
        .documentElement
        .classList
        .add('js');
    </script>

    <link rel="stylesheet" href="{{ './css/quill.snow.css' | url }}">
    <link rel="stylesheet" href="{{ './css/base.css' | url }}">
    <link rel="stylesheet" href="{{ './css/index.css' | url }}">

    {# <!-- capture the CSS content as a Nunjucks variable -->
    {% set cssBase %}
    {% include "./css/base.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{cssBase | cssmin | safe}}
    </style>

    {% set cssIndex %}
    {% include "./css/index.css" %}
    {% endset %}
    <style>
      {{cssIndex | cssmin | safe}}
    </style> #}

    <script defer src="js/quill.min.js"></script>
    <script defer src="js/index.js"></script>
  </head>
  <body>
    <div class="cv-full-height-page {% if templateClass %}{{ templateClass }}{% endif %}" data-scroller>

      <header class="cv-column" data-header>

        <div class="cv-header-container">
          <div class="cv-profile-img-position">
            <div class="cv-profile-img-container cv-clip-octagon">
              <img class="cv-clip-octagon cv-profile-img" src="img/pg-profile.jpg" alt="Profile photo">
            </div>
          </div>

          <div class="cv-title-container">

            <h1>Dr Patrick Grey</h1>

            <div class="cv-info-professional">
              <span class="cv-visually-hidden">Professional information: </span>
              UK ATCO DeCo 5 [MUAC - OPS]
            </div>

          </div>

          {# <img class="cv-ec-logo" src="img/EUROCONTROL-logo-boxed-rgb.svg" alt="EUROCONTROL logo"> #}
        </div>

        <nav>

          <div>
            <ul>
              {# <li>
                <a href="#cvSkillMeter" data-link>Skill Meter</a>
              </li> #}
              <li>
                <a href="#cvPersonalDevelopment" data-link>Personal Development</a>
              </li>
              <li>
                <a href="#cvWorkExperience" data-link>Work Experience</a>
              </li>

              <li>
                <a href="#cvCompletedTraining" data-link>Completed Training</a>
              </li>

              <li>
                <a href="#cvOngoingTraining" data-link>Ongoing Training</a>
              </li>

              <li class="cv-menu-item-desktop">
                <a href="#cvBiography" data-link>Biography &amp; Contact</a>
              </li>
              <li class="cv-menu-item-mobile">
                <a href="#cvBiography" data-link>Biography</a>
              </li>
              <li class="cv-menu-item-mobile">
                <a href="#cvContact" data-link>Contact Details</a>
              </li>

            </ul>

            <button class="cv-icon-button cv-icon-button-menu">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>

              <span>menu</span>
            </button>

          </div>
        </nav>

      </header>

      <main class="cv-column">

        <div class="cv-section cv-section-top">
          <h2 id="cvIntro">Digital CV</h2>
          <div class=" pl-1 pr-1">
            <p class="mt-0">Hello and welcome to your digital CV. Use this tool to get an overview of your personal goals and professional development. It will also help you plan future training needs. It is an entirely voluntary tool that is set to be private by default.</p>

            <div class="cv-print-container mt-2">

              <button class="cv-icon-button cv-icon-button-edit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"/>
                </svg>
                <span>Print in Europass format (pdf)</span>
              </button>

              <button class="cv-icon-button cv-icon-button-edit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"/>
                </svg>
                <span>Print in Cockpit format (pdf)</span>
              </button>

              <button class="cv-icon-button cv-icon-button-edit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"/>
                </svg>
                <span>Share this page</span>
              </button>

            </div>

          </div>
        </div>

        {# <div class="cv-section" data-section>
          <h2 id="cvSkillMeter"  data-header >Skill Meter</h2>

          {% set progressRing %}
          {% include "progress-ring.svg.njk" %}
          {% endset %}

          <div class="cv-progress">

            <div class="cv-progress-container" data-progress="30">
              <h3>Teamwork</h3>
              <div>
                {{ progressRing | safe }}
                <p>
                  <span class="cv-visually-hidden">Progress percent: </span>30</p>
              </div>
            </div>

            <div class="cv-progress-container" data-progress="100">
              <h3>Leadership</h3>
              <div>
                {{ progressRing | safe }}
                <p>
                  <span class="cv-visually-hidden">Progress percent: </span>100</p>
              </div>
            </div>

            <div class="cv-progress-container" data-progress="55">
              <h3>People<br/>Mangement</h3>
              <div>
                {{ progressRing | safe }}
                <p>
                  <span class="cv-visually-hidden">Progress percent: </span>55</p>
              </div>
            </div>

            <div class="cv-progress-container" data-progress="85">
              <h3>Project Management</h3>
              <div>
                {{ progressRing | safe }}
                <p>
                  <span class="cv-visually-hidden">Progress percent: </span>85</p>
              </div>
            </div>

            <div class="cv-progress-container" data-progress="100">
              <h3>Strategy</h3>
              <div>
                {{ progressRing | safe }}
                <p>
                  <span class="cv-visually-hidden">Progress percent: </span>100</p>
              </div>
            </div>

          </div>

        </div> #}

        <div class="cv-section" data-section>
          <h2 id="cvPersonalDevelopment" data-header>Personal Development</h2>

          <table class="cv-personal-development">
            <caption class="cv-visually-hidden">Personal Development</caption>
            <tbody>
              <tr class="cv-personal-aim">
                <th scope="row">
                Personal aim:
                </th>
                <td class="pb-2">
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam cupiditate at expedita vel cumque facere omnis veritatis accusantium culpa in voluptate, beatae, quo blanditiis voluptas, nostrum sunt quae illo. Quaerat.</span>

                  <a class="cv-link-icon mr-0" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                    </svg>
                    <span>Edit</span>
                  </a>

                  {# <div class="cv-edit-button-container mb-1">
                    <button class="cv-icon-button cv-icon-button-edit">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                      </svg>
                      <span>Edit</span>
                    </button>
                  </div> #}
                </td>
              </tr>

              <tr class="cv-career-ambition">
                <th scope="row">
                Career ambition:
              </th>
                <td class="cv-career-ambition-list">
                  <div class="cv-add-ambition">
                    <p>
                      <strong>Want to develop your career?</strong>
                    </p>
                    <a class="cv-link-icon" href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                      </svg>
                      <span>Add a new career ambition</span>
                    </a>
                  </div>

                  <div class="mb-2 ">

                    <a href="#" class="cv-career-ambition-button cv-grid-2">
                      <img class="cv-career-ambition-img" src="img/course-thumbs/thumb-2.jpg" alt="Training Officer poster image.">

                      <div>
                        <h3>Training Officer</h3>
                        <span>
                          <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem ratione voluptas sit soluta necessitatibus voluptates tempora optio temporibus corporis, asperiores magni, alias quia dignissimos accusantium quod perspiciatis cumque laboriosam!</p>
                        </span>
                        <span>
                          <p>Status: <strong>ongoing</strong>
                          </p>
                        </span>
                      </div>
                    </a>

                    <a href="#" class="cv-career-ambition-button cv-grid-2">
                      <img class="cv-career-ambition-img" src="img/course-thumbs/thumb-1.jpg" alt="Training Officer poster image.">

                      <div>
                        <h3>Another course</h3>
                        <span>
                          <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem ratione voluptas sit soluta necessitatibus voluptates tempora optio temporibus corporis, asperiores magni, alias quia dignissimos accusantium quod perspiciatis cumque laboriosam!</p>
                        </span>
                        <span>
                          <p>Status: <strong>complete</strong>
                          </p>
                        </span>
                      </div>
                    </a>

                    <div class="cv-career-ambition-group">
                      <p>
                        <strong>Learning path</strong>
                      </p>

                      <a href="#" class="cv-career-ambition-button cv-grid-2">
                        <img class="cv-career-ambition-img" src="img/course-thumbs/thumb-3.jpg" alt="Training Officer poster image.">

                        <div>
                          <h3>Prerequisite course</h3>
                          <span>
                            <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem ratione voluptas sit soluta necessitatibus voluptates tempora optio temporibus corporis, asperiores magni, alias quia dignissimos accusantium quod perspiciatis cumque laboriosam!</p>
                          </span>
                          <span>
                            <p>Status: <strong>ongoing</strong>
                            </p>
                          </span>
                        </div>
                      </a>

                      <a href="#" class="cv-career-ambition-button cv-grid-2 cv-career-ambition-dependent">
                        <img class="cv-career-ambition-img" src="img/course-thumbs/thumb-4.jpg" alt="Training Officer poster image.">

                        <div>
                          <h3>Disabled course</h3>
                          <span>
                            <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem ratione voluptas sit soluta necessitatibus voluptates tempora optio temporibus corporis, asperiores magni, alias quia dignissimos accusantium quod perspiciatis cumque laboriosam!</p>
                          </span>
                          <span>
                            <p>Status: <strong>incomplete</strong>
                            </p>
                          </span>
                        </div>
                      </a>

                      <a href="#" class="cv-career-ambition-button cv-grid-2">
                        <img class="cv-career-ambition-img" src="img/course-thumbs/thumb-5.jpg" alt="Training Officer poster image.">

                        <div>
                          <h3>Standalone course in learning path</h3>
                          <span>
                            <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem ratione voluptas sit soluta necessitatibus voluptates tempora optio temporibus corporis, asperiores magni, alias quia dignissimos accusantium quod perspiciatis cumque laboriosam!</p>
                          </span>
                          <span>
                            <p>Status: <strong>complete</strong>
                            </p>
                          </span>
                        </div>
                      </a>
                    </div>

                  </div>
                  {# <h3>
                      Training Officer <a class="cv-link-icon cv-path-link" href="#">Career Path</a>
                  </h3>

                  <h3>
                      OJTI <a class="cv-link-icon cv-path-link" href="#">Career Path</a>
                  </h3>

                  <h3>
                      Supervisor <a class="cv-link-icon cv-path-link" href="#">Career Path</a>
                  </h3> #}
                  {# <details class="cv-learning-path">
                    <summary>
                      <img src="img/icon-book.svg" alt="Book icon">Learning Path
                    </summary>
                    <div class="content">
                      <p class="mb-1">
                        <a href="#">Course 1</a>
                      </p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tenetur quas distinctio doloremque quo nostrum architecto vel dolor, esse molestiae nobis quis! Reprehenderit fugiat consequatur soluta at libero iusto alias?</p>

                    </div>
                  </details> #}
                  {# <h3>OJTI</h3>
                  <details class="cv-learning-path">
                    <summary>
                      <img src="img/icon-book.svg" alt="Book icon">Learning Path
                    </summary>
                    <div class="content">
                      <p class="mb-1">
                        <a href="#">Course 1</a>
                      </p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tenetur quas distinctio doloremque quo nostrum architecto vel dolor, esse molestiae nobis quis! Reprehenderit fugiat consequatur soluta at libero iusto alias?</p>

                    </div>
                  </details>
                  <h3>Supervisor</h3>
                  <details class="cv-learning-path">
                    <summary>
                      <img src="img/icon-book.svg" alt="Book icon">Learning Path
                    </summary>
                    <div class="content">
                      <p class="mb-1">
                        <a href="#">Course 1</a>
                      </p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tenetur quas distinctio doloremque quo nostrum architecto vel dolor, esse molestiae nobis quis! Reprehenderit fugiat consequatur soluta at libero iusto alias?</p>

                    </div>
                  </details> #}
                </td>
              </tr>

              <tr class="cv-development-plan">
                <th scope="row">
                Development plan:
              </th>
                <td>
                  <span>The personal development plan lets you break down your personal aim into areas for growth, each of which can be broken down into concrete steps to take towards achieving your goals.</span>
                  <a class="cv-link-icon cv-link-pers-plan" href="#" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>See your personal plan</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="cv-section">

          <h2 id="cvEducation">Education &amp; Experience</h2>

          <div data-section>
            <div class="cv-button-add-container ">
              <h3 id="cvWorkExperience" data-header>Work Experience</h3>

              {# <button class="cv-icon-button cv-icon-button-plus">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                </svg>
                <span>Add work experience</span>
              </button> #}

              <details class="cv-personal-aim-edit" open>
                <summary class="cv-icon-button cv-link-icon cv-icon-button-edit cv-edit-summary">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                  </svg>
                  <span>Add work experience</span>
                </summary>
                <div class="content">
                  <form action="#">

                    <label for="workTitle">Title</label>
                    <input type="text" id="workTitle">
                    <label for="workStartDate">Start date</label>
                    <input type="date" id="workStartDate">
                    <label for="workCurrentJob">This is my current job</label>
                    <input type="checkbox" id="workCurrentJob" checked>
                    <label for="workEndDate">End date</label>
                    <input type="date" id="workEndDate">
                    <label for="workDescription">Job description</label>
                    <textarea rows="5" type="text" id="workDescription" name="workDescription"></textarea>
                    <div id="workDescriptionDiv">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam cupiditate at expedita vel cumque facere omnis veritatis accusantium culpa in voluptate, beatae, quo blanditiis voluptas, nostrum sunt quae illo. Quaerat.</p>
                    </div>
                  </form>

                </div>
              </details>
            </div>

            <ol class="cv-timeline">
              <li>
                <h4>Refresher Training Officer</h4>
                <div class="cv-grid-2">
                  <div>
                    <em>Apr 2019 - present</em>
                  </div>
                  <div>MUAC (NL)</div>
                  <div>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis expedita enim sunt quis sequi minus asperiores nam facilis in, reprehenderit et odit ut voluptates ex alias ad eum totam quasi.</div>
                </div>
              </li>

              <li class="cv-timeline-right">
                <h4>Human Factors Expert</h4>
                <div class="cv-grid-2">
                  <div>
                    <em>Sep 2017 – Mar 2019</em>
                  </div>
                  <div>MUAC (NL)</div>
                  <div>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis expedita enim sunt quis sequi minus asperiores nam facilis in, reprehenderit et odit ut voluptates ex alias ad eum totam quasi.</div>
                </div>
              </li>

              <li>
                <h4>Air Traffic Controller</h4>
                <div class="cv-grid-2">
                  <div>
                    <em>Jan 2013 - present</em>
                  </div>
                  <div>MUAC (NL)</div>
                </div>
              </li>
            </ol>
          </div>

          {# <h3>Completed Training</h3> #}

          <div data-section>
            <div class="cv-button-add-container  cv-button-add-container-divider">
              <h3 id="cvCompletedTraining" data-header class="mt-2">Completed Training</h3>

              <button class="cv-icon-button cv-icon-button-plus">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                </svg>
                <span>Add completed training</span>
              </button>
            </div>

            <ol class="cv-timeline cv-timeline-completed">
              <li class="cv-timeline-right">
                <h4>Certificate of Sustainability in Aviation</h4>
                <div class="cv-grid-2">
                  <div>
                    <em>May 2013</em>
                  </div>
                  <div>IANS (LU)</div>
                </div>
              </li>

              <li>
                <h4>Civil Engineering – MSc (HONS)</h4>
                <div class="cv-grid-2">
                  <div>
                    <em>2007 -2011</em>
                  </div>
                  <div>University of London (UK)</div>
                  <div>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis expedita enim sunt quis sequi minus asperiores nam facilis in, reprehenderit et odit ut voluptates ex alias ad eum totam quasi.</div>
                </div>
              </li>

            </ol>
          </div>

          <div data-section>
            <div class="cv-button-add-container  cv-button-add-container-divider">
              <h3 id="cvOngoingTraining" data-header class="mt-2">Ongoing Training</h3>
              <button class="cv-icon-button cv-icon-button-plus">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                </svg>
                <span>Find more training</span>
              </button>
            </div>

            <ol class="cv-timeline  cv-timeline-ongoing">
              <li class="cv-timeline-right">
                <h4>Certificate of Sustainability in Aviation</h4>
                <div class="cv-grid-2">
                  <div>
                    <em>May 2013</em>
                  </div>
                  <div>IANS (LU)</div>
                  <div>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis expedita enim sunt quis sequi minus asperiores nam facilis in, reprehenderit et odit ut voluptates ex alias ad eum totam quasi.</div>
                </div>
              </li>

            </ol>
          </div>
        </div>

        <div class="cv-grid-2">
          <div class="cv-section cv-bio-container" data-section>
            <h2 id="cvBiography" data-header>Biography</h2>

            <table class="cv-biography">
              <caption class="cv-visually-hidden">Biography information</caption>
              <tbody>
                <tr class="cv-nationality">
                  <th scope="row">
                    <p>Nationality:</p>
                  </th>
                  <td>
                    Scottish
                  </td>
                </tr>
                <tr class="cv-dob">
                  <th scope="row">
                    <p>Date of birth:</p>
                  </th>
                  <td>
                    28th March 1974
                  </td>
                </tr>
                <tr class="cv-biography">
                  <th scope="row">
                    Biography:
                  </th>
                  <td>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tenetur nihil non totam sequi quod facilis id officia nesciunt dolorum! Dignissimos architecto voluptate consequatur. Nemo commodi et dignissimos temporibus soluta.
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="cv-edit-button-container">
              <button class="cv-icon-button cv-icon-button-edit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                </svg>
                <span>Edit</span>
              </button>
            </div>
          </div>

          <div class="cv-section cv-contact-container">
            <h2 id="cvContact">Contact Details</h2>

            <table class="cv-contact">
              <caption class="cv-visually-hidden">Contact information</caption>
              <tbody>
                <tr class="cv-email-work">
                  <th scope="row">
                    Work email:
                  </th>
                  <td>
                    <a href="mailto:patrick.grey.ext@eurocontrol.int">patrick.grey.ext@eurocontrol.int</a>
                  </td>
                </tr>

                <tr class="cv-email-personal">
                  <th scope="row">
                    Personal email:
                  </th>
                  <td>
                    <a href="mailto:websemantic@yahoo.co.uk">websemantic@yahoo.co.uk</a>
                  </td>
                </tr>

                <tr class="cv-telephone">
                  <th scope="row">
                    Telephone:
                  </th>
                  <td>
                    <a href="tel:++44 7939 666 666">++44 7939 666 666</a>
                  </td>
                </tr>

                <tr class="cv-linkedin">
                  <th scope="row">
                    LinkedIn:
                  </th>
                  <td>
                    <a href="https://uk.linkedin.com/" target="_blank">https://uk.linkedin.com/</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="cv-edit-button-container">
              <button class="cv-icon-button cv-icon-button-edit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                </svg>
                <span>Edit</span>
              </button>
            </div>
          </div>

        </div>

        {# <table class="cv-xxxx">
          <caption class="cv-visually-hidden">xxxxxx information</caption>
          <tbody>
            <tr class="cv-xxxx">
              <th scope="row">
                xxxx
              </th>
              <td>
                xxxx
              </td>
            </tr>
          </tbody>
        </table> #}

      </main>

      <footer class="cv-column"></footer>

    </div>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>